html {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 400px; }
  body > footer {
    flex-shrink: 0;
    background: #000; }
    body > footer a:hover {
      text-decoration: underline; }
  body > header {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #0003;
    height: 100px; }

.main-section {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column; }

.homepage-poster {
  background: url("../img/beach.jpg") no-repeat 50% 50%;
  background-size: cover;
  min-height: 56.25vw;
  max-height: 700px;
  padding-top: 100px;
  position: relative; }

.homepage-poster__content {
  height: 100%;
  background: #0003; }
  .homepage-poster__content > div {
    text-align: center;
    width: 100%; }
  .homepage-poster__content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 0; }
  .homepage-poster__content p {
    color: #FFF;
    font-size: 18px; }
  .homepage-poster__content a {
    font-family: Arial, serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 105px;
    display: inline-block;
    background: #F7BC26;
    letter-spacing: 2px;
    margin-top: 6px;
    color: #2C373F; }

header .logo {
  margin: 24px 0 24px 24px;
  width: 187px; }
  header .logo a:hover img {
    transform: scale(1.05);
    transition: transform .3s ease; }

img {
  width: 100%; }

.member-benefit-section {
  border-bottom: 3px solid #F5EDE4;
  padding-bottom: 96px; }
  .member-benefit-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 10px; }
    .member-benefit-section h2 + a {
      color: #000;
      display: inline-block;
      width: 100%;
      text-align: center; }

.member-benefit-section__card {
  width: 350px;
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none; }
  .member-benefit-section__card:hover {
    text-decoration: underline; }
    .member-benefit-section__card:hover img {
      transform: scale(1.05);
      transition: transform .3s ease; }
  .member-benefit-section__card img {
    height: 210px; }
  .member-benefit-section__card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 10px; }
  .member-benefit-section__card p {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 1.4; }

.member-experiences-section {
  order: 1;
  margin-top: 68px;
  padding-bottom: 84px; }
  .member-experiences-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    margin-bottom: 10px; }
    .member-experiences-section h2 ~ p {
      text-align: center;
      padding-top: 5px;
      font-size: 18px; }
    .member-experiences-section h2 + a {
      color: #000;
      display: inline-block;
      width: 100%;
      text-align: center; }

.member-experiences-section__card {
  display: block;
  width: 350px;
  height: 365px;
  background: url("../img/beach_family.jpg") 50% 0;
  background-size: cover;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden; }
  .member-experiences-section__card:hover > div {
    background: #0000; }
  .member-experiences-section__card > div {
    width: 100%;
    height: 100%;
    background: #0003;
    padding: 22px;
    box-sizing: border-box; }
  .member-experiences-section__card h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 14px;
    letter-spacing: 0.5px; }
  .member-experiences-section__card h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 17px;
    line-height: 1.4;
    margin-top: 0;
    width: 180px; }
    .member-experiences-section__card h4 + span {
      display: inline-block;
      background: #F7BC26;
      width: 72px;
      border-radius: 20px;
      text-align: center;
      color: #000;
      padding: 11px 0; }

.member-benefit-section__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 42px;
  justify-content: center; }

.member-experiences-section__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding-top: 32px;
  justify-content: center; }

.section-content {
  position: relative; }
  .section-content > a:hover {
    font-weight: bold; }

footer {
  color: #FFF; }
  footer .logo {
    width: 220px;
    margin: 20px auto; }
    footer .logo a:hover img {
      transform: scale(1.05);
      transition: transform .3s ease; }
  footer h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px; }

.footer-links {
  padding: 0;
  margin: 0; }
  .footer-links li {
    display: block; }
  .footer-links a {
    color: #FFF;
    text-decoration: none;
    line-height: 2.7;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px; }

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 65px;
  gap: 50px; }

.logo-wrapper {
  flex-basis: 100%;
  order: 2; }

.resources-list {
  order: 1; }

@media only screen and (min-width: 576px) {
  .homepage-poster__content a {
    border-radius: 5px; }
  .homepage-poster__content a:hover {
    transform: scale(1.05);
    transition: transform .3s ease; }

  .footer-content {
    flex-direction: row; }

  .member-experiences-section h2 + a,
  .member-benefit-section h2 + a {
    position: absolute;
    color: #000;
    right: 20px;
    top: 0;
    width: auto; } }
@media only screen and (min-width: 768px) {
  body > header {
    background: transparent; }

  .homepage-poster {
    min-height: 0;
    height: 56.25vw;
    padding-top: 0; }

  .member-benefit-section {
    max-width: 1400px;
    margin: 60px auto 0 auto; }

  .member-experiences-section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }

  .homepage-poster__content > div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); } }
@media only screen and (min-width: 992px) {
  .resources-list {
    width: 250px;
    margin-left: 70px; }

  .trip-inspiration-list {
    width: 250px;
    margin-left: 70px; }

  .logo-wrapper {
    order: 0;
    flex-basis: auto; }

  .header--sticky {
    position: fixed;
    background: #000;
    transition: background .3s ease; } }

/*# sourceMappingURL=style.css.map */
